.info_wrap {
    display: flex;
    border: 1px solid #060720;
    background-color: #060720;
}


.info_wrap > .info_container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.info_wrap > .info_container > .info_content > p {
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    margin-right: 10px;
}

.info_wrap > .info_container > .info_content {
    padding: 20px;
    margin: 0 auto;
}