.ct_wrp {
    background-color: #060720;
    width: auto;
    text-align: center;
    margin: 0 auto;
}

.ct_acct {
    padding: 10px;
    color: #fff;
    border-bottom: 8px solid #222;
}

@media (max-width: 656px) {
    .ct_acct > img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}