.product_wrap {
    background-color: #200751;
    padding: 20px 0;
}

.pro__ctn {
    float: left;
    width: 25%;
    padding: 0 5px;
    margin: 5px 0;
}

.product_wrap:after {
    content: "";
    display: table;
    clear: both;
}

.pro__bx{
    margin: 5px;
    background: antiquewhite;
    text-align: center;
    border-radius: 8px;
}

.pro__bx > h3 {
    text-transform: uppercase;
    color: aliceblue;
    font-size: 18px;
}

.pro__bx > p {
    display: block;
    margin: 0;
    color: aliceblue;
}

@media (min-width: 655px) {
    .product_wrap{
      display: none;
    }
}

@media (max-width: 655px) {

    .pro__bx > img {
        width: 100%;
        border-radius: 8px;
    }

    .pro__ctn {
        width: 50%;
        display: block;
    }

    .pro__bx{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color:#5466d3a6;
    }
}