.pktdivwrap{
    background-color: #060720;
}

.paket__wraptop{
    display: flex;
    background-color: #060720;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    background-image: url("https://res.cloudinary.com/baca-wiki/image/upload/v1610962239/watchtv_hgoydc.png");
}

.paket__ctntop{
    padding: 7px;
    margin: 0 auto;
    width: 100%;
    height: 40vh;
    position: relative;
}

.paket__pilihan {
    text-align: center;
    color: aliceblue;
    border-bottom: 8px solid #222;
}

.paket__pilihan h1 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.paket__pilihan h2 {
    font-size: 1rem;
}