.signup__wrapper{
    background: #010b48;
    margin: 0 auto;
    padding: 20px;
}

.signup__container > h1 {
    text-align: center;
}

.signup__container > form {
    display: block;
}

input {
    width: 95%;
    padding: 7px;
    margin-bottom: 20px;
    border: 1px solid;
}